<!DOCTYPE html>

{% load staticfiles %}
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>BLOG - Blogado</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div class="page-header">
            <a href="" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <h1><a href="/">BLOG Blogado</a></h1>
        </div>

        <div class="content container">
             <div class="row">
                <div class="col-md-8">
                       {% block content %}
                       {% endblock %}
                 </div>
             </div>
        </div>

    </body>

</html>